extends ../../layouts/default.pug

block main
    h1 Danh sách sản phẩm

//- doctype html
//- html
//-     head
//-         title Danh sách sản phẩm
    
//-     body
//-         h1 Danh sách sản phẩm